<div>
  <h1>Blocopedia: Social, Markdown Wikis</h1>
  <p>Create and share markdown wikis</p>
  <p>sign up</p>
</div>

<div class="row">
  <div class='col-md-6'>
    <p>create as many public wikis as you want!</p>
    <p>
    <% unless current_user %>
      <%= link_to "Free Plan", new_user_registration_path, class: 'btn btn-success' %>
    <% else %>
      free plan
    <% end %>

  </p>
  </div>
  <div class='col-md-6'>
    <p>Create private wikis!</p>

    <p>
    <% unless current_user and (current_user.premium? or current_user.admin?) %>
      <%= link_to "Premium Plan", new_charge_path, class: 'btn btn-success' %>
    <% else %>
      Premium plan
    <% end %>
    </p>
  </div>
</div>

<%= link_to "View Wikis", wikis_path, class: 'btn btn-success' %>
