<div>
  <h1>Blocopedia: Social, Markdown Wikis</h1>
  <p>Create and share markdown wikis</p>
  <p>sign up</p>
</div>

<div class="row">
  <div class='col-md-6'>
    <p>create as many public wikis as you want!</p>
    <p>free plan</p>
  </div>
  <div class='col-md-6'>
    <p>Create private wikis!</p>
    <p>premium plan</p>
  </div>
</div>

<%= link_to "View Wikis", wikis_path, class: 'btn btn-success' %>
