
<div class="row justify-content-md-center">
  <div class='col-md-6 text-center'>
      <h1>Blocopedia: Social, Markdown Wikis</h1>
  </div>
</div>

<div class="row justify-content-md-center">

  <div class="well text-center">
    <h3>Create and share markdown wikis</h3>
      <%= link_to "Sign Up!", new_user_registration_path, class: 'btn btn-info' %>
  </div>

</div>




<div class="row justify-content-md-center text-center">
  <div class='col-md-6'>
    <p>Create Public Wikis!</p>
    <p>
    <% unless current_user %>
      <%= link_to "Free Plan", new_user_registration_path, class: 'btn btn-success' %>
    <% else %>
      free plan
    <% end %>
  </p>
  </div>

  <div class='col-md-6 '>
    <p>Create Private Wikis!</p>

    <p>
    <% unless current_user and (current_user.premium? or current_user.admin?) %>
      <%= link_to "Premium Plan", new_charge_path, class: 'btn btn-success' %>
    <% else %>
      Premium plan
    <% end %>
    </p>
  </div>
</div>




<div class="row  justify-content-md-center text-center">
  <%= link_to "View Wikis", wikis_path, class: 'btn btn-success' %>
</div>
