<div class="grid-x">
  <div class="small-12 medium-10 small-centered cell">
    <div class="callout">
      <h4 class="text-center">
        <%= link_to wiki.title, wikis_path(wiki) %>
      </h4>
      <h6 class="subheader">
        submitted <%= time_ago_in_words(wiki.created_at) %> ago by <%= wiki.user.name %> <br>
      </h6>
    </div>
  </div>
 </div>
