<div class="grid-x">
  <div class="medium-8 medium-centered cell text-center">
    <h1>Edit Wiki</h1>

     <%= render partial: 'form', locals: { wiki: @wiki } %>

  </div>
</div>
<div class="grid-x">
  <div class="shrink small-centered cell">
      <% if (current_user.admin? || @wiki.user_id == current_user.id) and !current_user.standard? %>
        <%= link_to "Edit Collaborators", show_collaborations_for_wiki_path, class: "small button" %>
      <% else %>
        <span class="disabled button">Edit Collaborators</span>
      <% end %>
  </div>
</div>
