<div class="grid-x">
  <div class="medium-9 large-6 medium-centered cell text-center">
    <h1>Edit Wiki</h1>

     <%= render partial: 'form', locals: { wiki: @wiki } %>

  </div>
</div>
<div class="grid-x">
  <div class="shrink small-centered cell">
      <%= link_to "Edit Collaborators", show_collaborations_for_wiki_path, class: "success button" %>
  </div>
</div>
