<h1>Private Wikis</h1>

<% @private_wikis.each do |wiki| %>
    <p><%= link_to wiki.title, wiki %></p>
<% end %>

<h1>Public Wikis</h1>

<% @public_wikis.each do |wiki| %>
    <p><%= link_to wiki.title, wiki %></p>
<% end %>

<%= link_to "Create Wiki", new_wiki_path, class: 'btn btn-success' %>
