<div class="grid-x">
  <div class="small-12 medium-9 small-centered cell">
    <% if current_user and (current_user.premium? or current_user.admin?) %>
      <h2 class="text-centered">Private Wikis</h2>

      <% @private_wikis.each do |wiki| %>
          <p><%= link_to wiki.title, wiki %></p>
      <% end %>
    <% end %>
  </div>
</div>



<div class="small-12 medium-9 small-centered cell">
  <h2 class="text-center">Public Wikis</h2>

  <% @public_wikis.each do |wiki| %>
      <p><%= link_to wiki.title, wiki %></p>
  <% end %>
  <div class="grid-x">
    <div class="shrink small-centered cell">
      <%= link_to "Create Wiki", new_wiki_path, class: 'button' %>
    </div>
  </div>


</div>
