<div class="grid-x">
  <div class="small-12 medium-9 small-centered cell">
    <% if current_user and (current_user.premium? or current_user.admin?) %>
      <h2 class="text-centered">Private Wikis</h2>

          <%= render @private_wikis %></p>

    <% end %>
  </div>
</div>



<div class="small-12 medium-9 small-centered cell">
  <h2 class="text-center">Public Wikis</h2>

      <%= render @public_wikis %>

  <div class="grid-x">
    <div class="shrink small-centered cell">
      <% unless current_user %>
          <span class="button disabled">Create Wiki</span>
      <% else %>
        <%= link_to "Create Wiki", new_wiki_path, class: 'button' %>
      <% end %>
    </div>
  </div>


</div>
