
<%= form_tag(update_collaborations_for_wiki_path, method: "patch") do %>
  <% Collaboration.where(wiki_id: @wiki.id).each do |collaboration| %>
    <div class="grid-x">
      <div class="small-4 cell">
        <div class="form-group">
              <%= check_box_tag 'collaboration[user_id_array][]', collaboration.user_id %>
              <%= label_tag :collaboration, "#{User.find(collaboration.user_id).name}"%>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
