<div class="grid-x">
  <div class="medium-8 small-centered cell text-center">

    <h1>You are now on a premium account</h1>
    <h2>Congratulations!</h2>
    <%= link_to "View Wikis", wikis_path, class: 'btn btn-success' %>

  </div>
</div>
